#NavBar {
    height: 20vh;
    width: 100vw;
    color: yellow;
    background-color:aqua;
}

.ChildNavBar {
    display: flex;
    justify-content: end;
}

li {
    text-decoration: none;
    list-style: none;
    margin: 7px;
}

